

.about_style{
    background-color: white;
    min-height: 85vh;
    margin: 0 5%;
    border-radius: 20px;
}


.intro p {
    font-size: 18px;
    margin-top: 1.5%;
}

.intro{
    float: left;
    padding: 2% 4%;
    font-family: Karla;
}

.intro h3{
    color: #373F51;
    font-size: 25px;
    margin-bottom: 0%;
}

.intro span{
    font-size: 19px;
    font-weight: bold;
}

.name{
    color: #75CCC7;
}
.cs{
    color: #F686BD;
}

.sd{
    color: #386FA4;
}

.pool{
    color: #E88D67;
}
.bowling{
    color: #A9353E;
}
.newproject{
    color: #F17300;
}

.hangout{
    color: #27474E;
}
.img{
    float: left;
}