.about_style {
  background-color: white;
  min-height: 85vh;
  margin: 0 5%;
  border-radius: 20px;
}

.intro p {
  font-size: 18px;
  margin-top: 1.5%;
}

.intro {
  float: left;
  padding: 2% 4%;
  font-family: Karla;
  margin: 6% 0%;
  line-height: 30px;
}

.intro h3 {
  color: #373f51;
  font-size: 25px;
  margin-bottom: 0%;
}

.intro span {
  font-size: 19px;
  font-weight: bold;
}

.nameintro {
  color: #75ccc7;
}

.cs {
  color: #f686bd;
}

.sd {
  color: #386fa4;
}

.pool {
  color: #e88d67;
}

.bowling {
  color: #a9353e;
}

.newproject {
  color: #f17300;
}

.hangout {
  color: #27474e;
}

.img {
  float: left;
}

.social-svg {
  margin: 0px 10px;
  padding: 10px 10px;
}
