.name {
  font-size: 4em;
  font-weight: bolder;
  font-family: Raleway;
  margin: 3vh;
  display: block;
}

.home {
  padding-top: 25vh;
  position: relative;
  font-family: Karla;
  font-weight: 100;
  text-align: center;
  font-size: 1.8em;
  color: #fbfdfb;
}

.bottom_text,
.top_text {
  opacity: 0.75;
}

.bottom_text {
  display: block;
  margin-bottom: 2vh;
}

@media screen and (max-width: 992px) {
  .name {
    font-size: 2.2em;
    margin: 20px;
  }
  .home {
    font-size: 1.5em;
  }
}
