.card {
  height: 30vh;
  width: 30vw;
  background: white;
  border-radius: 10px;
  margin: 0px 5vw 5vh;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.logo {
  height: 20vh;
  width: 10vw;
  background: #0894e0f6;
  position: relative;
  right: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.text h3 {
  font-family: Raleway;
}

.text {
  width: 20vw;
  font-family: karla;
  padding: 2vw;
}

.tags span {
  border-radius: 10px;
  border-style: solid;
  padding: 5px;
  border-width: 1px;
  font-size: 12px;
}

.More {
  text-align: center;
  margin: 20px 70px;
  color: white;
  background: #0082c8;
  width: 7vw;
  padding: 10px;
  border-radius: 20px;
  align-self: center;
}

.More:hover {
  cursor: pointer;
}

.projects canvas {
  max-height: 20vh;
  max-width: 10vw;
}
