h1 {
  color: white;
  text-align: center;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.Resume {
  width: 50%;
  height: auto;
  position: relative;
}

.container .download_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  background: white;
  border-color: #0082c8;
  border-radius: 30px;
  padding: 1vh;
  font-family: Karla;
  color: #0082c8;
  height: 4vh;
  position: absolute;
  left: 65vw;
  top: 7vh;
  border-width: 2px;
  z-index: 1;
}

.container .download_button:hover {
  cursor: pointer;
}

.container span {
  margin-right: 10px;
}

.download {
  height: 20px;
  width: 20px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1650px) {
  .container .download_button {
    left: 60vw;
    height: 3vh;
  }
  .download {
    height: 15px;
    width: 15px;
  }
}

@media screen and (max-width: 500px) {
  .container .download_button {
    left: 70vw;
    height: 2vh;
    top: 10vh;
    font-size: 10px;
    border-width: 1px;
  }

  .download {
    height: 10px;
    width: 10px;
  }
  .Resume {
    top: 50px;
    height: auto;
    width: 100%;
  }
}
