#nav_bar {
  text-align: center;
  font-family: Karla;
  font-weight: 100;
  font-size: 2em;
}

.active span {
  border-bottom: 3px solid white;
  padding: 0 0 1px;
}

#nav_bar a {
  height: 35px;
  margin: 1vh 2vw;
}

@media screen and (max-width: 992px) {
  #nav_bar {
    font-size: 1em;
  }

  #nav_bar a {
    height: 15px;
  }
}
