.Jana {
  background-color: white;
  min-height: 20vh;
  margin: 0 4vw;
  border-radius: 20px;
  margin-bottom: 2%;
  overflow: auto;
  width: 40vw;
  float: left;
}

.Jana img {
  height: 5vh;
  margin: 0.5vh 0vw;
  padding: 0.5vh 0vw;
}

h2 {
  color: #0082c8;
  font-size: 4vh;
  margin: 0.5vh;
  text-align: center;
}
